<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="https://www.coolmate.me/images/favicon.png"/>
    <title>Áo Thun, Áo Phông Nam - Cool Mate</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/hover.css" rel="stylesheet">
    <script src="../js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
    <style>
        body {
            font-family: Helvetica;
            font-size: 16px;
        }

        .nav_app {
            font-size: 18px;
        }

        .fieldSelect {
            background: #FFFFFF;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            width: 260px;
            height: 44px;
            font-size: 16px;
            padding-left: 10px;
            padding-right: 10px;
            border: none;
            margin-left: 20px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <!-- Navbar -->
        <div class="nav_app col-auto col-md-3 col-xl-2 px-sm-2 px-0"
             style="box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);">
            <div class="d-flex flex-column align-items-center  px-3 pt-2 text-black min-vh-100">
                <a href="/" class="d-flex align-items-center  mb-md-3 mt-md-3 text-black text-decoration-none">
                    <img src="../image/logo-app.svg" width="126" height="45">
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100"
                    id="menu"
                    style="width: 126px">
                    <li class="nav-item ps-1">
                        <a href="/dashboard" class="nav-link align-middle px-0 align-self-center" id="nav-btn">
                            <img src="../image/icon/dashboard-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline " style="color: black">Thống kê</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/message" class="nav-link align-middle px-0 align-self-center" id="nav-btn">
                            <img src="../image/icon/Chat-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Tin nhắn</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/product" id="nav-btn" class="nav-link align-middle px-0 align-self-center"
                        >
                            <img src="../image/icon/product-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Sản phẩm</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/customers" id="nav-btn" class="nav-link align-middle px-0 align-self-center">
                            <img src="../image/icon/customer-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Người dùng</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/bills" id="nav-btn" class="nav-link align-middle px-0 align-self-center"
                           style="background-color: #b6b6b6">
                            <img src="../image/icon/bill-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Hóa đơn</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/voucher" id="nav-btn" class="nav-link align-middle px-0 align-self-center">
                            <img src="../image/icon/voucher-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Phiếu giảm giá</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/noti" id="nav-btn" class="nav-link align-middle px-0 align-self-center">
                            <img src="../image/icon/notifi-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Thông báo</span>
                        </a>
                    </li>
                </ul>
                <hr style="width: 100%; color: black;margin-bottom: 12px">
                <div class="dropdown align-items-center" style="width: 100% ;height: 60px;padding-bottom: 10px">
                    <div
                            class=" rounded d-flex align-items-center text-black text-decoration-none dropdown-toggle"
                            id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false"
                            style="width: 100%; height: 100%;margin-bottom: 20px">
                        <img src="../{{avatar}}" width="30" height="30"
                             class="rounded-circle" style="margin-left: 10px;margin-right: 10px">
                        <span class="d-none d-sm-inline mx-1" style="color: black">{{nameNav}}</span>
                    </div>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="/adminInfo/{{idUser}}">Thông tin cá nhân</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/login">Đăng xuất
                            <img src="../image/icon/logout-icon.svg" width="30" height="30"
                                 style="margin-left: 40px"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- end Navbar -->
        <div class="col" style="padding:0">
            <h1 style="color: #2F5ACF;margin-left: 20px">Chi tiết hóa đơn</h1>
            <div class="row" style="width: 100%; height: 90%;padding: 0;margin: 0">

                <div style="width: 95%;padding: 0;height: 200px;margin-left: 20px;border: 1px solid #d3d3d3;overflow: auto">
                    <div class="row" style="width: 100%;height: 100%;margin: 0;padding: 0">
                        <div class="col-3">
                            <div style="margin-bottom: 10px"><span> id:</span> <span style="color: black;font-weight: 700">{{bill.id}}</span></div>
                            <div style="margin-bottom: 10px"><span> Tên khách hàng: </span> <span
                                    style="color: black;font-weight: 700">{{bill.customerName}}</span></div>
                            <div style="margin-bottom: 10px"><span> Phương thức thanh toán:</span> <span
                                    style="color: black;font-weight: 700">{{bill.paymentMethod}}</span></div>
                            <div style="margin-bottom: 10px"><span> Trạng thái thanh toán:</span> <span
                                    style="color: black;font-weight: 700">{{bill.status}}</span></div>
                            <div style="margin-bottom: 10px"><span> Địa điểm:</span> <span
                                    style="color: black;font-weight: 700">{{bill.placeCustomer}}</span></div>

                        </div>
                        <div class="col-3">

                            <div><span> Voucher:</span> <span style="color: black;font-weight: 700">001 </span></div>
                            <div><span> Giảm :</span> <span style="color: black;font-weight: 700">...</span></div>
                            <div><span> Tổng thanh toán:</span> <span
                                    style="color: black;font-weight: 700" id="total_bill"> </span>

                            </div>
                            <div><span> Ghi chú/ Lí do hủy:</span>
                                <p style="border: 1px solid black;font-weight: 400;font-size: 12px;height: 80px; margin-bottom: 0px; max-height: 80px;
                        line-height: 19px;color: #000000;padding-left: 10px;overflow: auto;margin-bottom: 10px">{{bill.note}}
                                </p>

                            </div>

                        </div>
                        <div class="col-4">
                            <div style="margin-bottom: 10px"> <span> Trạng thái đơn hàng:</span> <span
                                    style="color: black;font-weight: 700"><br>
                                {{#each bill.shippingStatus}} {{this.createdAt}} - {{this.shippingStatus}}<br>{{/each}}
                            </span></div>

                        </div>


                    </div>
                </div>
                <!-- Button trigger modal -->
                <div style="width: 95%;padding: 0;height: 52px;margin-left: 20px">
                    <button class="btn btn-outline-primary btn-lg" data-bs-toggle="modal"
                            style="width: 280px;height: 50px;font-size: 16px"
                            data-bs-target="#updateUser" onclick="editUser('{{bill.status}}')">Chỉnh sửa trạng thái
                        thanh toán
                    </button>
                    <button class="btn btn-outline-primary btn-lg" data-bs-toggle="modal"
                            style="width: 280px;height: 50px;font-size: 16px; margin-left: 20px"
                            data-bs-target="#updateShip" onclick="selectElement('{{#each bill.shippingStatus}}{{#if @last}}{{this.shippingStatus}}{{/if}}{{/each}}')">Chỉnh sửa trạng thái vận
                        chuyển
                    </button>
                </div>

                <div style="width: 95%;padding: 0;height: 330px;margin-left: 20px">
                    <div class="table-responsive mt-3" style="max-height: 327px">
                        <table class="table table-bordered table-responsive" style="text-align: center;margin-bottom: 0px
                    ;min-height:327px;overflow: auto">
                            <thead>
                            <tr style="font-size: 20px">
                                <th class="col-1" scope="col">STT</th>
                                <th class="col-2" scope="col">Tên sản phẩm</th>
                                <th class="col-2" scope="col">Số lượng</th>
                                <th class="col-2" scope="col"> Chi tiết</th>
                                <th class="col-2" scope="col">Giá</th>
                            </tr>
                            </thead>
                            <tbody id="product_list_color">

                            {{#each bill.carts.carts}}
                                <tr>
                                    <th>
                                        <p id="stt_{{@index}}"></p>
                                    </th>

                                    <th>
                                        <p>{{this.products.product.productName}}</p>

                                    </th>
                                    <th>
                                        <p>{{this.products.quantity}}</p>
                                    </th>

                                    <th>
                                        <p>{{this.products.colorName}} - {{this.products.sizeName}}</p>
                                    </th>
                                    <th>
                                        <p>{{this.products.product.promotionalPrice}}</p>
                                    </th>

                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>

                </di>
                <!--thanh toán-->
                <div class="modal fade" id="updateUser" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <form action="/updateStatus/payment/{{bill.id}}" method="post" autocomplete="off"
                              accept-charset="UTF-8">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Cập nhật trạng thái thanh toán!</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="col-auto">
                                        <div class="col-12" style="height: 65px">
                                            <label for="inputStatus" class="labelSelect">Status:</label>
                                            <select id="paySelect" class="fieldSelect" name="status">
                                                <option value="Chưa thanh toán">Chưa thanh toán</option>
                                                <option value="Đã thanh toán">Đã thanh toán</option>
                                            </select>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Đóng
                                            </button>
                                            <button type="submit" class="btn btn-primary">Thay đổi</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--thanh toán-->
                <div class="modal fade" id="updateShip" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <form action="/updateStatus/shipping/{{bill.id}}" method="post" autocomplete="off"
                              accept-charset="UTF-8">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Cập nhật trạng thái đơn hàng!</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="col-auto">
                                        <div class="col-12" style="height: 65px">
                                            <label for="inputStatus" class="labelSelect">Trạng thái:</label>
                                            <select id="shipingSelect" class="fieldSelect" name="status">
                                                <option value="Chờ xác nhận">Chờ xác nhận</option>
                                                <option value="Chờ xác nhận hủy đơn hàng">Chờ xác nhận hủy đơn hàng
                                                </option>
                                                <option value="Bị hủy">Bị hủy</option>
                                                <option value="Đang chuẩn bị hàng">Đang chuẩn bị hàng</option>
                                                <option value="Đang vận chuyển">Đang vận chuyển</option>
                                                <option value="Đã giao hàng">Đã giao hàng</option>
                                                <option value="Đã nhận">Đã nhận</option>
                                                <option value="Yêu cầu trả hàng">Yêu cầu trả hàng</option>
                                                <option value="Xác nhận hoàn trả">Xác nhận hoàn trả</option>
                                                <option value="Đã trả hàng">Đã trả hàng</option>
                                                <option value="Đã hoàn tiền">Đã hoàn tiền</option>
                                            </select>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng
                                            </button>
                                            <button type="submit" class="btn btn-primary">Thay đổi</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


</div>
</div>
<script>
        {{#each bill.carts.carts}}
        document.getElementById("stt_{{@index}}").innerHTML = Number({{@index}}) + 1;
        {{/each}}
    function editUser(status) {
        document.getElementById("inputStatus").value = status;
    }

    function selectElement(status) {
        document.getElementById("shipingSelect").value = status;
    }
    selectElement("paySelect",)


    function number_format(number, decimals, dec_point, thousands_sep) {
        // *     example: number_format(1234.56, 2, ',', ' ');
        // *     return: '1 234,56'
        number = (number + '').replace(',', '').replace(' ', '');
        var n = !isFinite(+number) ? 0 : +number,
                prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                s = '',
                toFixedFix = function (n, prec) {
                    var k = Math.pow(10, prec);
                    return '' + Math.round(n * k) / k;
                };
        // Fix for IE parseFloat(0.55).toFixed(0) = 0;
        s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
        if (s[0].length > 3) {
            s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
        }
        if ((s[1] || '').length < prec) {
            s[1] = s[1] || '';
            s[1] += new Array(prec - s[1].length + 1).join('0');
        }
        return s.join(dec);
    }

    function setPrice(id, price) {
        let element = document.getElementById(id);
        var value = number_format(price) + " VNĐ"
        element.innerHTML = value;
    }

    setPrice("total_bill",{{bill.total}});
</script>
</body>
</html>
