<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="https://www.coolmate.me/images/favicon.png"/>
    <title>Áo Thun, Áo Phông Nam - Cool Mate</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/hover.css" rel="stylesheet">
    <script src="js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <style>
        body {
            font-family: Helvetica;
            font-size: 16px;
        }
        .nav_app{
            font-size: 18px;
        }
        .date-time{
            position: relative;
            margin-left: 10px;
        }
        .search-field{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px;
            width: 426px;
            height: 49px;
            background: #2F5ACF;
            border-radius: 8px;
        }
        #search-input{

        }
        ::placeholder {
            color: #AEB6CF;
            opacity: 1;
        }
        .btn-addProduct {
            border: 2px solid #2F5ACF;
            background-color: white;
            color: black;
        }

        .btn-addProduct:hover {
            background-color: #2F5ACF;
            color: white;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <!-- Navbar -->
        <div class="nav_app col-auto col-md-3 col-xl-2 px-sm-2 px-0"
             style="box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);">
            <div class="d-flex flex-column align-items-center  px-3 pt-2 text-black min-vh-100">
                <a href="/" class="d-flex align-items-center  mb-md-3 mt-md-3 text-black text-decoration-none">
                    <img src="../image/logo-app.svg" width="126" height="45">
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100"
                    id="menu"
                    style="width: 126px">
                    <li class="nav-item ps-1">
                        <a href="/dashboard" class="nav-link align-middle px-0 align-self-center" id="nav-btn">
                            <img src="../image/icon/dashboard-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline " style="color: black">Thống kê</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/message" class="nav-link align-middle px-0 align-self-center" id="nav-btn">
                            <img src="../image/icon/Chat-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Tin nhắn</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/product" id="nav-btn" class="nav-link align-middle px-0 align-self-center"
                           style="background-color: #b6b6b6">
                            <img src="../image/icon/product-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Sản phẩm</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/customers" id="nav-btn" class="nav-link align-middle px-0 align-self-center">
                            <img src="../image/icon/customer-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Người dùng</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/bills" id="nav-btn" class="nav-link align-middle px-0 align-self-center">
                            <img src="../image/icon/bill-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Hóa đơn</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" id="nav-btn" class="nav-link align-middle px-0 align-self-center">
                            <img src="../image/icon/voucher-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Phiếu giảm giá</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/noti" id="nav-btn" class="nav-link align-middle px-0 align-self-center">
                            <img src="../image/icon/notifi-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Thông báo</span>
                        </a>
                    </li>
                </ul>
                <hr style="width: 100%; color: black;margin-bottom: 12px">
                <div class="dropdown align-items-center" style="width: 100% ;height: 60px;padding-bottom: 10px">
                    <div
                            class=" rounded d-flex align-items-center text-black text-decoration-none dropdown-toggle"
                            id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false"
                            style="width: 100%; height: 100%;margin-bottom: 20px">
                        <img src="../{{avatar}}" width="30" height="30"
                             class="rounded-circle" style="margin-left: 10px;margin-right: 10px">
                        <span class="d-none d-sm-inline mx-1" style="color: black">{{nameNav}}</span>
                    </div>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="/adminInfo/{{idUser}}">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/login">Đăng xuất
                            <img src="../image/icon/logout-icon.svg" width="30" height="30"
                                 style="margin-left: 40px"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- end Navbar -->


        <div class="col py-3">

            <div style="width: 100%">

                <div class="row">
                    <div class="col-2 row date-time " style="color: #707EAE ">
                        <div class="col-12 p-0 " style="font-size: 20px; text-align: left;color: black">
                            <p style="margin-bottom: 4px">Hello {{nameNav}}</p>
                        </div>
                        <div class="col-12 time p-0 " style="font-size: 14px; text-align: left;">
                            <span class="col-4" id="hour">00</span>:
                            <span class="col-4" id="minutes">00</span>
                            <span class="col-4" id="period">AM </span>
                            <span id="daynum">Day</span>
                            <span id="month">Day</span>
                            <span id="year">Day</span>
                        </div>

                    </div>

                    <form action="/searchProduct" class="col-9 d-flex" method="POST" style="width: 60%; "
                          autocomplete="off">
                        <div class="me-2 " >
                            <select name="SearchBy" style="margin: auto;height: 49px;border-radius: 5px;border: none;
                            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);border-radius: 8px;width: 226px;padding: 0px 20px">
                                <option value="1">Name Product</option>
                                <option value="2">ID</option>
                            </select>
                        </div>
                        <div class="search-field" style="padding-top: 0;padding-bottom: 0;padding-right: 0">
                            <button type="submit" style="background-color: #2F5ACF; border: none">
                                <img src="../image/icon/search-icon.svg" ></button>

                            <input  type="search" placeholder="Search here" id="search-input"
                                   name="SearchValue" style="background-color: #2F5ACF;border: none;
                                   border-radius: 8px; padding: 10px;
                                   margin-left: 10px;width: 100%;height: 100% ;color: white">
                        </div>

                    </form>

                </div>
            </div>

            <div style="width: 100%;max-height: 100px;margin-top: 40px">
                {{#if msg}}
                    {{{msg}}}
                {{/if}}</div>
            <div class="panel panel-default mt-2" style="width: 100%">
                <div class="panel-body table-responsive" style="max-height: 480px; min-height: 480px">
                    <table class="table table-bordered" style="align-items: center;text-align: center">
                        <thead>
                        <tr>
                            <th class="col-1" scope="col">ID</th>
                            <th class="col-1" scope="col">Ảnh</th>
                            <th class="col-2" scope="col">Tên sản phẩm</th>
                            <th class="col-1" scope="col">Giá bán</th>
                            <th class="col-1" scope="col">Số lượng</th>
                            <th class="col-1" scope="col">Điểm đánh giá</th>
                            <th class="col-1" scope="col">Trạng thái</th>
                            <th class="col-1" scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each listProduct}}
                            <tr >
                                <th scope="col">{{this.modelID}}</th>
                                <th scope="col"><img src="{{ this.color.[0].image.[0]}}" height="70px" width="50"/>
                                </th>
                                <th scope="col">{{this.productName}}</th>
                                <th scope="col">{{this.promotionalPrice}}</th>
                                <th scope="col">{{this.productCount}}</th>
                                <th scope="col">{{this.ratingAvg}}</th>
                                <th scope="col">{{this.status}}</th>
                                <th scope="col">
                                    <a class="btn btn-outline-primary" href="productDetail/{{this.id}}" >Chi tiết</a>
                                </th>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

            <div style="width: 100%;height: 60px; margin-top: 50px;text-align: right">
                <div style=" width: 260px;height: 60px;position: relative;left: 950px;">
                    <a href="/product-add"
                       style="text-decoration: none;">
                        <div class=" btn-addProduct" id="add_product"
                             style="border-radius: 56px;width: 258px;height: 54px; font-size: 20px">
                            <p style="width: 100%; text-align: center;align-items: end;margin-bottom: 0; margin-top: 10px">
                                Thêm sản phẩm</p>

                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>

</div>


</div>
</div>
<script>

    function updateClock() {
        var now = new Date();
        var mo = now.getMonth();
        var dnum = now.getDate();
        var yr = now.getFullYear();
        var hou = now.getHours();
        var min = now.getMinutes();
        var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
        var per = document.getElementById("period");
        if(hou>12){
            per.innerHTML = "pm "
        }else {
            per.innerHTML = "am"
        }
        if(hou>12){
            hou = hou -12;
        }

        document.getElementById("hour").innerHTML = hou;
        document.getElementById("minutes").innerHTML = min;
        document.getElementById("year").innerHTML = yr;
        document.getElementById("month").innerHTML = months[mo];
        document.getElementById("daynum").innerHTML = dnum;

    }

    setInterval(updateClock,10)
</script>
</body>
</html>
