<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="https://www.coolmate.me/images/favicon.png"/>
    <title>Áo Thun, Áo Phông Nam - Cool Mate</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/hover.css" rel="stylesheet">
    <script src="../js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <style>
        body {
            font-family: Helvetica;
            font-size: 16px;
        }

        .nav_app {
            font-size: 18px;
        }
        .fieldSelect {
            background: #FFFFFF;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            width: 208px;
            height: 44px;
            font-size: 16px;
            padding-left: 10px;
            padding-right: 10px;
            border: none;
        }

        .labelSelect {
            font-size: 16px;
            line-height: 20px;
            margin: 0px;
            color: black;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <!-- Navbar -->
        <div class="nav_app col-auto col-md-3 col-xl-2 px-sm-2 px-0"
             style="box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);">
            <div class="d-flex flex-column align-items-center  px-3 pt-2 text-black min-vh-100">
                <a href="/" class="d-flex align-items-center  mb-md-3 mt-md-3 text-black text-decoration-none">
                    <img src="../image/logo-app.svg" width="126" height="45">
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100"
                    id="menu"
                    style="width: 126px">
                    <li class="nav-item ps-1">
                        <a href="/dashboard" class="nav-link align-middle px-0 align-self-center" id="nav-btn">
                            <img src="../image/icon/dashboard-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline " style="color: black">Thống kê</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/message" class="nav-link align-middle px-0 align-self-center" id="nav-btn">
                            <img src="../image/icon/Chat-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Tin nhắn</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/product" id="nav-btn" class="nav-link align-middle px-0 align-self-center"
                        >
                            <img src="../image/icon/product-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Sản phẩm</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/customers" id="nav-btn" class="nav-link align-middle px-0 align-self-center"
                           style="background-color: #b6b6b6">
                            <img src="../image/icon/customer-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Người dùng</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/bills" id="nav-btn" class="nav-link align-middle px-0 align-self-center">
                            <img src="../image/icon/bill-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Hóa đơn</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" id="nav-btn" class="nav-link align-middle px-0 align-self-center">
                            <img src="../image/icon/voucher-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Phiếu giảm giá</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/noti" id="nav-btn" class="nav-link align-middle px-0 align-self-center">
                            <img src="../image/icon/notifi-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Thông báo</span>
                        </a>
                    </li>
                </ul>
                <hr style="width: 100%; color: black;margin-bottom: 12px">
                <div class="dropdown align-items-center" style="width: 100% ;height: 60px;padding-bottom: 10px">
                    <a href="#"
                       class=" rounded d-flex align-items-center text-black text-decoration-none dropdown-toggle"
                       id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false"
                       style="width: 100%; height: 100%;margin-bottom: 20px">
                        <img src="../image/chengwei-pan-2.jpg" width="30" height="30"
                             class="rounded-circle" style="margin-left: 30px;margin-right: 20px">
                        <span class="d-none d-sm-inline mx-1" style="color: black">{{nameNav}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/login">Sign out
                            <img src="../image/icon/logout-icon.svg" width="30" height="30"
                                 style="margin-left: 40px"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- end Navbar -->
        <!-- Content -->
        <div class="col" style="padding: 0">
            <section style=" height: 100%">
                <div class="row d-flex align-items-center" style="width: 100%;height: 100%;margin: 0">
                    <div class="col-12" style="width: 100%;height: 100%;padding: 0">
                        <div class="card-body text-center" style="width: 100%;height: 100%">
                            <div class="row" style="padding: 0;margin: 0;width: 100%;height: 100%">
                                <div class="col-6 pt-4">
                                    <div class=" mb-4">
                                        <img src="{{user.avatar}}"
                                             class="rounded-circle img-fluid" style="width: 247px; height: 247px"/>
                                    </div>
                                    <h4 class="mb-2">{{user.fullName}}</h4>
                                    <p class="text-muted mb-1">Quyền hạn: {{user.role}} <span
                                            class="mx-2">|</span>{{user.email}}</p>
                                    <p class="text-muted mb-1">Số điện thoại: {{user.phone}}</p>
                                    <p>Trạng thái:{{user.status}} </p>


                                </div>
                                <div class="col-6 pt-5">

                                    <div style="width: 100%;margin: auto;" class="mt-1">
                                        <div style="width: 100%;font-style: normal;font-size: 40px;line-height: 44px;
                                        color: #2F5ACF;height: 40px;margin-bottom: 20px">
                                            <span>Thông tin chi tiết người dùng</span>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="inputNameuser" class="col-sm-3 col-form-label">Giới tính</label>
                                            <div class="col-sm-8">
                                                <input type="email" class="form-control" id="inputNameuser"
                                                       value="{{user.gender}}" readonly>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="inputNameuser" class="col-sm-3 col-form-label">Ngày sinh</label>
                                            <div class="col-sm-8">
                                                <input type="email" class="form-control" id="inputNameuser"
                                                       value="{{user.birthday}}" readonly>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="inputNameUser" class="col-sm-3 col-form-label">Địa chỉ</label>
                                            <div class="col-sm-8">
                                                <input type="email" class="form-control" id="inputNameuser"
                                                       value="{{user.address}}" readonly>
                                            </div>
                                        </div>
                                        <button class="btn btn-outline-primary btn-lg px-4 mb-3" data-bs-toggle="modal"
                                                data-bs-target="#updateUser">Sửa trạng thái
                                        </button>
                                        </di>


                                    </div>

                                </div>
                                <!--model update-->
                                <div class="modal fade" id="updateUser" tabindex="-1"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <form action="" method="post" autocomplete="off" accept-charset="UTF-8">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Sửa trạng thái!</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="col-auto">
                                                        <div class="mb-3 row">
                                                            <label for="updateUserID" class="col-sm-2 col-form-label">ID:</label>
                                                            <div class="col-sm-10">
                                                                <input readonly name="updateUserID" type="text" class="form-control
                                                                    text-dark" id="updateUserID" placeholder="ID" value="{{user.id}}"
                                                                       style="background-color: #adadad"/>
                                                            </div>
                                                        </div>

                                                        <div class="col-12" style="height: 65px;text-align: left">
                                                            <label for="inputState" class="labelSelect">Trạng thái: </label>
                                                            <select id="updateUserStatus" class="fieldSelect" name="updateUserStatus">
                                                                <option value="ACTIVE"> ACTIVE</option>
                                                                <option value="INACTIVE"> INACTIVE</option>
                                                                <option value="DELETED"> DELETED</option>
                                                                <option value="BAN"> BAN</option>
                                                            </select>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Đóng
                                                            </button>
                                                            <button type="submit" class="btn btn-primary">Sửa</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


    </div>
</div>

<script>
    function selectElement(id, valueToSelect) {
        let element = document.getElementById(id);
        element.value = valueToSelect;
    }

    selectElement('updateUserStatus', '{{user.status}}');

</script>

</body>
</html>
